*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
.DS_Store
*.DS_Store
html/js/bower_components
*.pem
html/css/src_sass
vendor/
.mailgun_config.php
.keys.php
html/csv/
